body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


#icone_pagina {
    display: inline-block;
    width: 75%;
    margin-left: 25%;
}

#icone_pagina img{
    float: left;
    width: 50px;
    margin-left: 20px;
}

#icone_pagina span{
    font-family: arial;
    float: left;
    color: black;
    font-size: 25pt;    
    margin-left: 10px;
    margin-top: 5px;
}
.seriado{
       float:left;
       font-family: arial;
       color: black;
       font-size: 45px;
       margin-top:70px;
       margin-left:45%;

       }