html{
    background-image: url("../img/Background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.form{
line-height: 50px;
margin-top: 200px;
font-family: arial;
font-size: 30px;
margin-left: 780px;
display: block;
width: 100px;
}

button{
    margin-top: 20px ;
    margin-left: 940px;
    font-size: 30px;
}

input{
font-size: 30px;
}

select {
    font-size: 30px;
}
