body{
	background-color: black;
}

div{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 1000px;
	margin-left: 90px;
	margin-top: 100px;
	-webkit-box-shadow: 6px 6px 28px -3px rgba(0,0,0,1);
	-moz-box-shadow: 6px 6px 28px -3px rgba(0,0,0,1);
	box-shadow: 6px 6px 28px -3px rgba(0,0,0,1);
	
}

div img{
	width: 200px;
	height: 300px;
	padding-left: 40px;
	padding-top: 20px;
	
}

div img:hover{
	 -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


