body{
	padding: 0px;
	margin: 0px;	
}

#menu ul {
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	list-style: none;
	width: 50%;
	float: right;
}

#menu ul li { display: inline; }

#menu ul li a {
	padding: 10px 40px;
	display: inline-block;
	
	background-color: #000000;
	color: #CD950C;
	text-decoration: none;
	border-bottom: 2px solid #CD950C;
	
	font-family: sans-serif;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 13px;
}

#menu ul li a:hover {
	background-color: #;
	color: #CD950C;
	border-bottom: 3px solid #CD950C;
}
#souze img{
	width: 100%;
}

#nemu ul {
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	list-style: none;
}


