body {
	Margin: 0px;
	Padding: 0px;
	background: url("img/icon.jpg") no-repeat;
	background-size: 100%;
}

#menu {
	list-style: none;
	float: left;
	width: 100%;	
}


#menu ul{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	height: 20px;	
}

#menu ul li{
	text-decoration: none;
	float: left;
	display: inline-block;
}

#menu ul li a {
		color: black;
		text-decoration: none;
		margin-right: 20px;
}

#menu ul li a:hover {
    background-color: #EEE9E9;
    color: black;
    border-bottom:3px solid #FF3030;
}