/*=========== RESET ===========*/
*{margin: 0;
 padding: 0;
 font-size: 100%;
 border: none;
 outline: none;
 font-weight: 300;
 box-sizing: border-box;
font-family: 'Oswald', sans-serif;
}

body {
	background-color: #fff;
}

#galeria{
	display: inline;
	width: 300px;
}

#galeria img{
	float: left;
	width: 300px;
	height: 467px;
	padding: 10px;
	margin-left: 20px;
}

a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

/* CABEÇALHO */
.cabecalho {
	width: 100%;
	float: left;
	padding: 3% 4%;
}

.stcabecalho {
	background: url("../img/node.jpg") no-repeat ;
	padding: 15% 4%;
}

.stlogo {
	width: 150px; 
	height: 56px; 
	float: left; 
	background-image: url("../img/mp.png");
	background-repeat: no-repeat;
	background-size: 150px;
	font-size: 0;
}

.logo {
	width: 150px; 
	height: 56px; 
	float: left; 
	background-image: url("../img/mp.png");
	background-repeat: no-repeat;
	background-size: 150px;
	font-size: 0;
	}
.btn-menu {
	width: 56px; 
	height: 56px; float: right; 
	text-align: center;
	color: #fff; 
	border-radius: 56px; 
	cursor: pointer;
	background: linear-gradient(to right, #ce2e3c, #da6709);
}

/* MENU */
.menu {
	display: none; 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	background-color: rgba(0,0,0,0.9); 
	top: 0; 
	left: 0;
}

.btn-close {
	font-size: 3em; 
	color: #fff; 
	float: right; 
	cursor: pointer; 
	margin-right: 5%;
}

.menu ul {
	width: 100%; 
	float: left; 
	text-align: center;
}

.menu li {
	padding: 0.4%;
}

.menu li a {
	font-size: 1.5em; 
	color: #fff; 
	padding: 1% 1%;
}

.menu li a:hover {
	border: 1px solid #da6709;
}

/* BANNER */
.banner {
	width: 100%; 
	float: left; 
	text-align: center; 
	padding: 3% 4%; 
	background: url(../img/55.png) no-repeat fixed;
}

.banner h2 {
	font-size: 2.5em; 
	color: #fff; 
	font-weight: 700;
	
}
.banner h3 {
	font-size: 1.5em; 
	color: #fff;
}

.banner h4 {
	font-size: 2em; 
	color: #fff; 
	padding: 3% 4%;
}

.banner h5 {
	font-size: 3em; 
	color: #fff; 
	font-weight: 700;
	text-shadow: 0.1em 0.1em #4F4F4F;
}

h6 {
    max-width: 1142px;
    margin-left: 10px;
    padding-bottom: 2%;
    padding-top: 124%;
    font-family: 'Oswald', 'sans-serif';
    color: #fff;
	font-size: 1.5em;
}