body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#icone_pagina {
    display: inline-block;
    width: 75%;
    margin-left: 29%;
}
#icone_pagina img{
    float: left;
    width: 50px;
}
#icone_pagina span{
    font-family: arial;
    float: left;
    color: black;
    font-size: 25pt;    
    margin-left: 10px;
    margin-top: 5px;
}
.seriado{
       float:left;
       font-family: arial;
       color: black;
       font-size: 45px;
       margin-top:70px;
       margin-left:45%;
}
#videos{    
    margin-left:25%;
    width:50%;
    float:left;
    display: block;
    margin-top: 2%;
}
.embreve{
    float:left;
    font-family: arial;
    font-size:50px;
    margin-left:35%;
    margin-top:5%;
}
#videos img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}