#icone_pagina {
    display: inline-block;
    width: 70%;
    margin-left: 29%;
}
#icone_pagina img{
    float: left;
    width: 50px;
 }
#icone_pagina span{
    font-family: arial;
    float: left;
    color: black;
    font-size:25pt;    
    margin-left:10px;
    margin-top:5px;
}
#voltar img{
    width:50px;
    margin-top:-50%;
    
}


/*The Big Bang Theory*/
.bigbangtheory{
    background-image: url("../img/background_bigbang.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
}
#bigbang p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#bigbang video{
    margin-left:25%;
    width:50%;
}


/*Breaking Bad*/
.breakingbad{
    background-image: url("../img/backgroundbreakingbag.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#breaking p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#breaking video{
    margin-left:25%;
    width:50%;
}


/*Death Note*/
.deathnote{
    background-image: url("../img/backgrounddeathnote.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#death p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#death video{
    margin-left:25%;
    width:50%;
}


/*Dragon Ball Super*/
.dragonball{
    background-image: url("../img/backgrounddragonballsuper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#dragon p{
    color:white;
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#dragon video{
    margin-left:25%;
    width:50%;
}


/*Flash*/
.flashi{
    background-image: url("../img/backgroundflash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#flash p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#flash video{
    margin-left:25%;
    width:50%;
}


/*Futurama*/
.futurama{
    background-image: url("../img/backgroundfuturama.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#futu p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#futu video{
    margin-left:25%;
    width:50%;
}


/*Dr House*/
.drhouse{
    background-image: url("../img/backgrounddrhouse.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#house p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#house video{
    margin-left:25%;
    width:50%;
}


/*Lucifer*/
.lucifer{
    background-image: url("../img/backgroundlucifer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#luci p{
    color:white;
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#luci video{
    margin-left:25%;
    width:50%;
}


/*South Park*/
.southpark{
    background-image: url("../img/backgroundsouthpark.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#south p{
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#south video{
    margin-left:25%;
    width:50%;
}


/*Two And Half Men*/
.twoand{
    background-image: url("../img/backgroundtwoandhalfmen.jpg");
    background-repeat: no-repeat;
    background-size: 100%;     
}
#two p{
    color: white;
    text-align: center;
    font-family: lucida console;
    font-size:70px;
}
#two video{
    margin-left:25%;
    width:50%;
}

