body{
	background-image: url("../img/background.png");
    background-size: 1280px 768px;
}

#paginas h1 {
	text-align: center;
	font-size: 40px;	
	font-family: Century Gothic;
	color: #696969;
}

#paginas ul{
	
	list-style-type: none;
	text-align: center;
	font-size: 35px;
	font-family: Century Gothic;
	
}

#paginas a{
	text-decoration-line: none;
	color: #828282;
	opacity:0.5;
}

#paginas a:hover{
	opacity: 1;
	font-size: 40px;
	color: #226289;
}


#menu ul{
	
	padding-left: 30%;
	list-style: none;
	
}

#menu ul li{
	
	display: inline;
	padding: 25px;
	
}

#menu ul li a{
	text-decoration: none;
	font-size: 25pt;
	font-family: Century Gothic;
	color: blue;
	opacity:0.5;
	
}

#menu ul li a:hover{
	opacity: 1;
	font-size: 22pt;
	color: navy;
}


